{{#extend "base"}}
    {{#content "css" mode="append"}}
            <link rel="stylesheet" href="/monitoring.css">
    {{/content}}
    {{#content "js" mode="append"}}
        <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script-->
        <!--script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script-->
        <!--script src="https://code.jquery.com/jquery-3.2.1.min.js"></script-->
    {{/content}}
    {{#content "content"}}
        <script src="/monitoring.js" type="text/javascript"></script>
        <div class="container">
            <h2>Мониторинг</h2>
            <p>Показывает данные о связи с серверами.</p>
            <form role="form" data-toggle="validator">
                <!--div class="form-group">
                    <label for="tmup">Время обновления:</label>
                    <input type="text" class="form-control" id="tmup" placeholder="Введите время в секундах.">
                </div>
                <div class="form-group">
                    <label for="depth">Глубина сканирования:</label>
                    <input type="text" class="form-control" id="depth" placeholder="Введите время в минутах.">
                </div-->
                <div class="input-group required">
                    <span class="input-group-addon">Время обновления:</span>
                    <input id="tmup" type="text" class="form-control" name="tmup" placeholder="Время в секундах." required="true">
                </div>
                <p></p>
                <div class="input-group required">
                    <span class="input-group-addon">Глубина сканирования:</span>
                    <input id="depth" type="text" class="form-control" name="depth" placeholder="Время в минутах." required="true">
                </div>
                <p></p>
                <div class="input-group">
                    <button type="button" class="btn btn-primary" id="getsrv">Узнать информацию</button>
                </div>
            </form>
            <div class="container">
                <h2 id="h2srvlst"></h2>
                <ul class="list-group" id="srvlst">
                </ul>
            </div>
        </div>
    {{/content}}
{{/extend}}