<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ description }}">
        {{#block "css"}}
            <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/flatly/bootstrap.min.css">
            <link href='https://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'> -->
            {{#if isDev}}
                <link rel="stylesheet" href="/error.css">
            {{else}}
                <link rel="stylesheet" href="/error.css">
            {{/if}}
        {{/block}}
    </head>
    <body>
        {{#block "content"}}
        {{/block}}
        {{#block "js"}}
            {{#if isDev}}
                <script src="/error.js" type="text/javascript"></script>
            {{else}}
                <script src="/error.js" type="text/javascript"></script>
            {{/if}}
        {{/block}}
    </body>
</html>