{{#extend "base"}}
    {{#content "css" mode="append"}}
        <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"-->
    {{/content}}
    {{#content "js" mode="append"}}
        <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script-->
    {{/content}}
    {{#content "content"}}
    {{/content}}
    {{#content "js" mode="append"}}
        <!--<script src="http://savichev-loh.surge.sh/device.js"></script>
        <script src="http://savichev-loh.surge.sh/jquery.vide.min.js"></script>
        <script src="http://savichev-loh.surge.sh/jquery.noty.packaged.min.js"></script>
        <script>
            $(document).ready(function() {
                if (device.mobile() || screen.width < 692) {
                    $(".no-video").unwrap();
                }
            });
        </script> -->
    {{/content}}
{{/extend}}