@import '../../node_modules/bootstrap-styl/bootstrap/variables.styl'
@import '../vars.styl'

$footer-height = 50px;
html {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
body {
  margin: 0 0 ($footer-height + 20px);
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  background-color: $base-color;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.footer p {
  margin: (($footer-height - $line-height-computed) / 2 * 0.95) 0;
  color: #fff;
  text-align: center;
}