@import '../vars.styl'

.navbar {
    padding: 0 12px;
    margin-bottom: 0;
    background-color: $base-color;
}

.navbar-inverse .navbar-brand {
    color: $base-white-color;
}

.navbar-inverse {
    border-color: $base-color;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color: $base-font-color;
    background-color: transparent;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: $base-font-color;
    background-color: transparent;
}

.navbar-inverse .navbar-nav>li>a {
    color: $base-white-color;
}
/*.navbar-inverse .navbar-brand {
    color: #ffffff;
}*/

/*.navbar-brand {
    color: $base-color;
    &:hover,
    &:focus {
        color: $base-color;
        background-color: $base-color;
    }
}*/

.navbar-collapse {
    font-size: 18px;
}
