<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle"
                data-toggle="collapse" data-target="#example-navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
            <span class="glyphicon glyphicon-cog"></span> TecLix Manager
        </a>
    </div>
    <div class="collapse navbar-collapse" id="example-navbar-collapse">
        <ul class="nav navbar-nav navbar-">
            <li><a href="/monitoring"><i class="fa fa-search" aria-hidden="true"></i> Мониторинг</a></li>
        </ul>
    </div>
</nav>
<!--nav class="navbar" role="navigation">
    <div class="navbar-header"-->
        <!--<button type="button" class="navbar-toggle"
                data-toggle="collapse" data-target="#example-navbar-collapse">
            <span class="icon-bar"></span>
        </button>-->
        <!--a class="navbar-brand" href="/">
            <span class="">TecLix Manager</span>
        </a>
    </div-->
    <!--div class="collapse navbar-collapse" id="example-navbar-collapse">
    </div-->
<!--/nav-->